<h1 style="text-align: center;">InterPolation</h1>
<p>In AngularJS, Interpolation is a way to transfer the data from a TypeScript code to an HTML template </p>

<h2>How can we use it?</h2>
<p>we can use it using &#123; &#123; &#125; &#125;</p>

<h2>What we can do with Interpolation?</h2>
<p class="{{title}}">{{title}}</p>
<p>Addition : 2+2 </p>
<p>Addition : {{2+2}}</p>
<p>Substraction : 2-2</p>
<p>Substraction : {{4-2}}</p>
<p>Multiply : 2*2</p>
<p>Multiply : {{2*2}}</p>
<p>Comparision : title == 'InterPolation'</p>
<p>Comparision : '{{title=='Interpolation'}}'</p>

<h2>What we can't do with Interpolation?</h2>
<p>Assignment : &#123; &#123; title='Hello World' &#125; &#125;</p>
<p>Typeof : &#123; &#123; typeof title &#125; &#125;</p>
<p>Increment : &#123; &#123; number++ &#125; &#125;</p>
<p>Decrement : &#123; &#123; number-- &#125; &#125;</p>