<h1 style="text-align: center;">Component With Inline Style And Template</h1>
<p>Generate component with inline template and style using Angular CLI. But when we want to generate component with inline template and style we have to provide two options after the above command. For inline templates, we need to add --inlineTemplate and For inline styles, we need to add --inline-style and For Both , we need to add --inline-template --inline-template</p>
<p><b>Inline style Component :- </b> it contains html,spec.ts,ts file and we give style using style property of decorator of component.ts file.</p>
<p><b>Inline Template Component :- </b> it contains css,spec.ts,ts file and we write html in template property of decorator of component.ts file.</p>
<p><b>Inline style Component :- </b> it contains spec.ts,ts file and we use style and template property of decorator of component.ts file.</p>

<app-inline-style></app-inline-style>
<app-inline-template></app-inline-template>
<app-both></app-both>