<h1 style="text-align: center;">Automation Testing (Unit Testing) </h1>
<h2>Automation Testing testing </h2>
<p>Automated testing is a software testing technique that automates the process of validating the functionality of software and ensures it meets requirements before being released into production.</p>

<h2>Types of Automation Testing</h2>
<ul>
  <li>Unit Test Case</li>
  <li>Integration</li>
  <li>End-to-End</li>
</ul>
<p>There are two main types of Angular testing: unit testing and end-to-end testing. Unit testing is verifying that individual units of code behave as expected. End-to-end testing is verifying that the entire application behaves as expected.</p>
<h2>Angular Automation Testing</h2>
<p><b>Protractor - </b>Run Test Case on Browser.</p>
<p><b>Jasmine - </b>Testing Environment,Run spec file for the test case.</p>
<p><b>Karma - </b>Run test case in multiple browser.</p>