<h1 style="text-align: center;">Forms in Angular</h1>
<p>1. Submit any kind of information to Database but angular can't connect to Database...</p>
<p>2. So we send data to API and API update the database.</p>
<p>3. Example</p>
<ol>
  <li>login</li>
  <li>sign up</li>
  <li>post</li>
  <li>google search is also a type of form</li>
</ol>
<h2 style="text-align: center;">Forms Types in Angular</h2>
<p>1. Template - driven Form</p>
<p>2. Reactive form</p>
<div style="width: 100%;display: flex; border: 1px solid black; padding:10px;">
  <div style="width: 50%; border: 1px solid black;padding:10px;">
    <h4>Template Driven Forms</h4>
    <ul>
      <li>Based on HTML DOM and Angular</li>
      <li>use to create simple forms</li>
      <li>limited controls over form Element</li>
      <li>Normal Validation</li>
    </ul>
  </div>
  <div style="width: 50%;border: 1px solid black;padding:20px;">
    <h4>Reactive Forms</h4>
    <li>use to create Complex forms</li>
    <li>Based on class Body programming</li>
    <li>Full Control on form Elements</li>
    <li>Sync with HTML</li>
  </div>
</div>

<p>Template --> class --> service --> database</p>